# Email Configuration
EMAIL_USER=anchalsandhu1703@gmail.com
EMAIL_PASS=123456
ADMIN_EMAIL=admin@ivsdxb.com

# JWT Secret (change this to a secure random string)
JWT_SECRET=9c59dd374635e8e8ac45a3eeef13b0a3447fe2dfd921612c8052674f4db11ea8c982076911867fc0041e38e33ee28224166de44c0e2dd247ca8778997031be30

# Database (SQLite file will be created automatically)
# DATABASE_URL=./database.sqlite
